body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Titulo {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 1%;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-top: 0;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 30%;
    padding: 5px;
    margin-bottom: 15px;
}

input[type="button"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}